<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Site Generator Demo Page</title>
  <meta name="description" content="Demo page generator with site generator">
  <meta name="author" content="Maarten de Rijk">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- Skeleton.css -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/custom.css">

  <link rel="icon" type="image/png" href="images/favicon.png">
</head>

<body>
{{ lead }}
{{ post }}
</body>

</html>